<?xml version="1.0"?>

<robot name="b1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find b1_description)/urdf/common/materials.xacro"/>
    <xacro:include filename="$(find b1_description)/urdf/common/leg.xacro"/>
    <xacro:include filename="$(find b1_description)/urdf/common/gazebo.xacro"/>
    <xacro:include filename="$(find b1_description)/urdf/common/imu.xacro"/>
    <xacro:include filename="$(find b1_description)/urdf/b1/const.xacro"/>

    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://b1_description/meshes/trunk.dae" scale="1 1 1"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_length} ${trunk_width} ${trunk_height}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                izz="${trunk_izz}"/>  
        </inertial>
    </link>

    <xacro:leg name="RF" mirror="-1" mirror_dae="False" front_hind="1"  front_hind_dae="True" />
    <xacro:leg name="LF" mirror="1"  mirror_dae="True"  front_hind="1"  front_hind_dae="True" />
    <xacro:leg name="RH" mirror="-1" mirror_dae="False" front_hind="-1" front_hind_dae="False" />
    <xacro:leg name="LH" mirror="1"  mirror_dae="True"  front_hind="-1" front_hind_dae="False" />

</robot>
